<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
	<a th:href="@{'/ver/' + ${factura.cliente.id}}"><i
					class="material-icons black-text">arrow_back</i></a>
		<div class="card animated fadeIn">
		
			<div class="card-content">

				<h3 class="light" th:text="${titulo}"></h3>
				
				<form th:action="@{/factura/form}" th:object="${factura}"
					method="post">



					<div class="row">

						<div class="input-field col s12">
							<label class="active">Cliente</label> <input
								th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
								disabled="disabled" />

						</div>

						<div class="input-field col s12">
							<label>Descripción</label> <input type="text"
								th:field="*{descripcion}" /> <small id="descripcion"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}" class="red-text"></small>
						</div>
							<div th:if="${#fields.hasErrors('descripcion')}">
							<script type="text/javascript">
								$(document).ready(function() {
									toastr.options.timeOut = 3000;
									toastr.error("descripción invalida");
								});
							</script>
						</div>


						<div class="input-field col s12">
							<label>Observación</label>
							<textarea class="materialize-textarea" rows="" cols=""
								th:field="*{observacion}"></textarea>
						</div>

						<div class="input-field 
						 col s12">
							<label>Buscar producto<i class="material-icons left">search</i></label> <input type="text"
								name="buscar_producto" id="buscar_producto" class="autocomplete" />
						</div>

						<table th:replace="factura/plantilla-items :: itemFactura"></table>

						<table id="caragarItemProductos" class="table striped">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Precio</th>
									<th>Cantidad</th>
									<th>Total</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody>
							
							</tbody>
						</table>
						
						<div class="divider"></div>
						
						<h5>Total</h5>
						<h2 class="light animated fadeIn" >$<span id="gran_total">0</span></h2>





					</div>




					<input type="submit" value="Guardar " class="btn pulse" />
					<!-- los atributos se acceden mediante asterisco -->
				</form>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>


</body>

</html>