<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="itemFactura" class="" hidden="hidden">
		<tbody id="plantillaItemfactura">
			<tr id="row_{ID}">
				<td  hidden="hidden"><input type="hidden" value="{ID}"
					name="item_id[]" /></td>
				<td>{NOMBRE}</td>
				<td>{PRECIO}</td>
				<td><input class="validate" type="number" value="1" name="cantidad[]" min="0" id="cantidad_{ID}" onchange="itemsHelper.calcularImporte({ID}, {PRECIO}, this.value);"/></td>
				<td><span id="total_importe_{ID}">0</span></td>
				<td><a class="btn-flat wabes-effect"
								onclick="itemsHelper.eliminarLineaFactura({ID})"><i
									class="material-icons cetered red-text">remove_shopping_cart</i></a></td>
			</tr>

		</tbody>

	</table>

</body>
</html>