
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">


</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<a th:href="@{'/ver/' + ${factura.cliente.id}}"><i
			class="material-icons black-text">arrow_back</i></a>

		<div class="card-panel animated fadeIn">


			<div class="row">
				<div class="col s12">
					<h3 class="light" th:text="${titulo}"></h3>
					<div class="divider"></div>
					<br>


				</div>


				<div class="col s6">
					<h5 class="bold">Cliente</h5>
					<p th:text="${factura.cliente}"></p>
					<p th:text="${factura.cliente.email}"></p>
				</div>

				<div class="col 6">
					<h5 class="bold">Datos de factura</h5>
					<p th:text="'Folio: ' + ${factura.id}"></p>
					<p th:text="'Observación: ' + ${factura.observacion}" th:if="${not #strings.isEmpty(factura.observacion)}"></p>
					<p th:text="${'Sin observación'}" th:if="${#strings.isEmpty(factura.observacion)}"></p>
					<p th:text="'Fecha: ' + ${factura.CreateAt}"></p>
				</div>
				
				<div class="col s12">
				<br>
				<br>
					<table class="table striped">

						<thead>
							<tr>
								<th>Producto</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="linea: ${factura.items}">
								<td th:text="${linea.producto.nombre}"></td>
								<td th:text="'$' + ${linea.producto.precio}"></td>
								<td th:text="${linea.cantidad}"></td>
								<td th:text="'$' + ${linea.calcularImporte()}"></td>
							</tr>

						</tbody>

					</table>

					<br>
					<br>
					<h3 class="right thin">
						Total $<span th:text="${factura.total}"></span>
					</h3>

				</div>






			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>