<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div class="card animated fadeIn ">
			<div class="card-content red-text">
			
			<h2>Error: Acceso denegado</h2>
			<h5>Lo sentimos</h5>
			<br><br>
			<p th:text="${#httpServletRequest.remoteUser}"></p>
			<p>No tienes permiso para acceder este recurso</p>
			<br><br><br><br>
			
				<a th:href="@{'/listar'}"><i
					class="material-icons black-text">arrow_back</i></a>
			
			
			
			
			</div>
		</div>
	</div>
	
	<br>
	<br>
	<br>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>