<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container">
		<div class="card animated fadeIn">
			<div class="card-content">

				<spam class="card-title light" th:text="${titulo}"></spam>




				<table class="table striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>Fecha</th>
							<th>Factura</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>

 
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td><a th:href="@{/ver/} + ${cliente.id}"
								 class="btn blue"><i class="material-icons white-text">details</i></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td><a th:href="@{/factura/form/} + ${cliente.id}"
								class="btn green"><i class="material-icons cetered white-text">note_add</i></a></td>
							<td><a th:href="@{/form/} + ${cliente.id}" class="btn"><i
									class="material-icons cetered white-text">edit</i></a></td>
							<td><a th:href="@{/eliminar/} + ${cliente.id}"
								class="btn red"
								onclick="return confirm('Estas seguro de querer elminar?')"><i
									class="material-icons cetered white-text">delete</i></a></td>


						</tr>
					</tbody>

				</table>
				<br>
				<div th:replace="paginator-nav :: paginator"></div>
				<br /> <br />
				<div class="right">
					<a th:href="@{/form}"
						class="btn-floating halfway-fab waves-effect waves-light blue pulse"><i
						class="material-icons">add</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container"></div>
	<br>
	<br>
	<br>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>