<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container">
		<div class="card-panel animated fadeIn">
			<h2>Login</h2>
			<br><br>
			<form th:action="@{/login}" method="post">
				<div class="row">
					<div class="input-field col s6">
						<label>Username</label> <input type="text" name="username"
							id="username" placeholder="Your username" autofocus="autofocus"
							required="required">

					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<label>Password</label> <input type="password" name="password"
							id="password" placeholder="Your password" required="required" />

					</div>
					</div>

					<div class="row">
						<input type="submit" value="Sing In " class="btn pulse" />

					</div>
					
					<div class="row" th:if="${help}">
					<h4>Ayuda</h4>
					<p>Por favor ingrese las credenciales correctas que se le han proporcionado por el administrador del sistema, o ponerse en contacto para reestablecerlas</p>
					
					</div>

				



			</form>



		</div>





	</div>


	<br>
	<br>
	<br>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>